body {
	font-family: Trebuchet MS, Tahoma,sans-serif;
	font-size: 18px;
	color: #2c2c2c;
	/*background: url("../img/bg3.jpg") repeat;*/
	background-color: #f2eeed;
}

#page {
	max-width: 1494px;
	margin: 50px auto 50px;
	background: #fff;
}

h1{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px lightgrey;
	margin-bottom: 50px;
}
/*******************TOP-MENU************************/

#top-menu .firstpage{
	margin-left: 30%;
}

#top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   	text-transform: uppercase;
	font-size: 20px;
}

#top-menu li {
    float: left;
	padding: 0 20px;
}

#top-menu ul.firstpage li:first-child{
	padding-left: 0;
}

#top-menu a {
    display: inline-block;
    text-align: center;
	color: #2c2c2c;
    padding: 20px 0;
    text-decoration: none;
	border-top: 3px solid transparent;
}

#top-menu a:hover {
	border-top: 3px solid #8fc860;
}

#top-menu a.active {
	border-top: 3px solid #8fc860;
}

#top-menu .icon {
	display: none;
	padding: 5px 7px;
}

/******************HEADER************************/
#logo img{
	float: left;
	width: 100%;
	height: auto;
	max-width: 440px;
}

#login-info{
	display: inline-block;
	width: 100%;
}

#login-info p, #logout-form{
	color: grey;
	font-size: 16px;
}

#login-info a{
	color: grey;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}

#login-info a:hover{
	color: #ff6b4a;
}

#login-info input{
	border: 1px solid lightgrey;
	border-radius: 3px;
	padding: 2px 4px;
	outline: 0;
}

#login-info button{
	border-radius: 3px;
	padding: 3px 7px;
	color: #ffffff;
	background-color: #ff6b4a;
	cursor: pointer;
	border: 0 none;
}

#login-info button:hover{
	background-color: #ff441a;
}

#login-info form, #logout-form{
	text-align: right;
	margin-top: 20px;
}

/*********************LANGUAGES*****************/
#lang ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-transform: uppercase;
	float: right;
}

#lang a{
	text-decoration: none;
	color: #2c2c2c;
}

#lang a.active{
	color: #ff6b4a;
}

#lang li{
	border-left: 2px solid;
	float: left;
	padding: 0 5px;
}
#lang li:first-child{
	border-left: none;
}
/*************************FOOTER********************/

#footer {
	background-color: #ff6b4a;
	color: #fff;
	padding: 20px;
}

/**************************PRODUCT LIST****************/
a.button-price{
	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
}
.button-price {
	background-color: #8fc860;
	color: #FFFFFF;
	padding: 10px 25px;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
	font-size: 18px;
}

button.button-price {
	border:0 none;
	cursor:pointer;
	float: right;
	margin-top: -20px;
}

.button-price:hover{
	background-color: #6dab3b;
}

.item-wrapper{
	width: 100%;
	border-bottom: 1px solid #ddd;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.item-upper-wrapper{
	width: auto;
	padding: 24px 20px;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	box-sizing: border-box;
}

.item-upper-wrapper:hover{
	background-color: rgba(143, 200, 96, 0.2);
}

.item-description-wrapper{
	width: 50%;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	overflow: hidden;
}

.item-img{
	width: 200px;
	max-height: 134px;
	height: auto;
	float: left;
}

.item-description{
	color: grey;
	font-size: 16px;
}

.item-btn-wrapper{
	position: relative;
	overflow: hidden;
}

.item-options-wrapper{
	display: none;
	background-color: #FFFFFF;
	width: auto;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	color: grey;
	font-size: 16px;
	box-sizing: border-box;
}

.item-options{
	padding: 20px;
}

.options-icon{
	float: right;
	cursor: pointer;
	display: block;
}

.options-footer {
	padding: 40px 20px;
	background-color: rgba(242, 248, 236, 0.3);
	position: relative;
	width: auto;
	box-sizing: border-box;
}

.item-quantity{
	float: left;
	width: auto;
	margin-top: -15px;
}
.options-footer .quantity{
	padding: 5px 10px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	background-color: #FFFFFF;
	width: 15px;
}

.item-quantity span{
	display: inline-block;
	padding: 0 5px;
}

select {
	color: gray;
}
/*******************************CLIENTFORM*************/
fieldset{
	display: inline-block;
}

/***********************ORDER******************/
#message-confirm, #message-cancel {
	display: none;
}

/*********************SLIDER*********************/
.slider-info {
	float: left;
	width: 30%;
}

.contact-info {
	text-align: center;
	margin-left: 50px;
	margin-top: 50px;
}

.contact-info .fa {
	width: 22px;
	height: 22px;
	border: 1px solid #000;
	border-radius: 50%;
	text-align: center;
	line-height: 24px;
}

.slider-info-2{
	background-color: #ff6b4a;
	position: absolute;
	bottom: 0;
	color: white;
	width: 30%;
	text-align: center;
	font-size: 22px;
	padding: 4% 13px 3% 13px;
	margin-bottom: 4px;
}

.slider-info-2::before {
	content: '';
	border: 13px solid transparent;
	border-bottom-color: #d94c2d;
	border-left-color: #d94c2d;
	position: absolute;
	bottom: 100%;
	right: 0;
	z-index: 10;
}

.slider-info-titel{
	text-transform: uppercase;
}

.slider-img {
	float: right;
	width: 70%;
}

.slider-img img {
	width: 100%;
	height: auto;
}

/****************SHOPPING CART*******************/
#shoppingcart{
	padding: 20px;
}

.cart-wrapper {
	border: 2px solid #8fc860;
	border-radius: 5px;
	max-width: 340px;
}

#shoppingcart h4{
	margin: 0;
}

.heading {
	padding: 15px 0;
	background-color: #8fc860;
	text-align: center;
	color: #FFFFFF;
}

.cart td{
	vertical-align: top;
}

.cart .option{
	color: gray;
}

.cart tr td:first-child{
	width:1%;
	white-space:nowrap;
}

.cart td{
	padding-bottom: 15px;
}

.cart tr td:nth-child(4) {
	text-align: right;
}

.cart{
	overflow-x:auto;
	padding: 10px;
	font-size: 14px;
}

.cart .delete{
	color: #8fc860;
	cursor: pointer;
	display: inline-block;
}

.cart .delete:hover{
	color: #6dab3b;
}

.cart .item{
	width:1%;
	white-space:nowrap;
}

table.total{
	color: gray;
	border-top: 1px solid lightgrey;
	width: 100%;

}

table.total tr:first-child td{
	padding-top: 10px;
}

.total td{
	padding-bottom: 5px;
}

.total tr td:last-child{
	width:1%;
	white-space:nowrap;
	text-align: right;
}

.total tr:last-child td{
	color: #2c2c2c;
	font-weight: bold;
	font-size: 18px;
}

a.order {
	text-transform: uppercase;
	font-weight: bold;
	margin: 30px 0 0 0;
	width: 83%;
}

.edit-add:before{
	content: '+';
	border: 1px solid lightgrey;
	padding: 2px 5px;
	margin-left: 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
}

.edit-delete:before{
	content: '-';
	border: 1px solid lightgrey;
	padding: 2px 6px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
}

.next{
	border:0 none;
	cursor:pointer;
}

a.confirm{
	cursor: pointer;
}

/*************************MEDIA QUERY*********************/
@media screen and (max-width: 1150px){
	.contact-info{margin-top: 0;}
}

	@media screen and (max-width: 970px) {
	.slider-info-2{
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 18px;
	}
}

@media screen and (max-width: 767px) {
	.slider-info, .slider{
		width: 100%;
		float: none;
		padding-left: 0;
		margin-left: 0;
	}

	.slider-info-2 {
		position: relative;
	}

	.slider-info-2:before{
		border: none;
	}

	#top-menu, #top-menu .firstpage{
		display: table;
		margin-left: auto;
		margin-right: auto;
	}

}

@media screen and (max-width: 600px) {
	#top-menu{
		display: block;
	}
	#top-menu a {display: none;}
	#top-menu a.icon {
		float: right;
		display: block;
		border: 2px solid #8fc860;
		color: #8fc860;
	}
	#top-menu.responsive {
		position: relative;
		background-color: #8fc860;
	}
	#top-menu.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
		color: #FFFFFF;
		border: 2px solid transparent;
	}
	#top-menu.responsive li a {
		float: none;
		display: block;
		text-align: left;
		border-top: 0;
		padding: 7px 10px;
		color: #FFFFFF;
	}

	#top-menu.responsive li a:hover {
		border-top: 0;
		background-color: #bcdea0;

	}

	#top-menu.responsive ul{
		text-transform: none;
		font-size: 18px;
	}
	#top-menu.responsive ul.firstpage{
		margin-left: 0;
	}

	#top-menu.responsive li{
		float: none;
		padding: 0;
	}
}
