body {
	font-family: Trebuchet MS, Tahoma,sans-serif;
	font-size: 18px;
	color: #2c2c2c;
	background: url("../img/bg.jpg") repeat;
}

#page {
	max-width: 1494px;
	margin: 50px auto 50px;
	background: #fff;
}

/*******************TOP-MENU************************/

#top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   	text-transform: uppercase;
	font-size: 20px;
}

#top-menu li {
    float: left;
	padding: 0 20px;
}

#top-menu a {
    display: inline-block;
    text-align: center;
	color: #2c2c2c;
    padding: 20px 0;
    text-decoration: none;
	border-top: 3px solid transparent;
}

#top-menu a:hover {
	border-top: 3px solid #8fc860;
}

#top-menu a.active {
	border-top: 3px solid #8fc860;
}

/******************HEADER************************/
#logo img{
	float: left;
	max-width: 100%;
	height: auto;
}

/*********************************************/
aside {background-color: #8fc860;}

#footer {
	background-color: #ff6b4a;
	color: #fff;
	padding: 20px;
}

/***********************ORDER******************/
#message-confirm, #message-cancel {
	display: none;
}

/*********************SLIDER*********************/
#slider-info {
	float: left;
	width: 30%;
}

#contact-info {
	text-align: center;
	padding: 30px 20px;
}

#contact-info .fa {
	width: 22px;
	height: 22px;
	border: 1px solid #000;
	border-radius: 50%;
	text-align: center;
	line-height: 24px;
}

#slider-info-2{
	background-color: #ff6b4a;
	position: absolute;
	bottom: 0;
	color: white;
	width: 30%;
	text-align: center;
	font-size: 22px;
}

#slider-info-2::before {
	content: '';
	border: 13px solid transparent;
	border-bottom-color: #d94c2d;
	border-left-color: #d94c2d;
	position: absolute;
	bottom: 100%;
	right: 0;
	z-index: 10;
}

#slider-info-titel{
	text-transform: uppercase;
}

#slider-img {
	float: right;
	width: 70%;
}

#slider-img img {
	width: 100%;
	height: auto;
}