body {
	font-family: Trebuchet MS, Tahoma,sans-serif;
	font-size: 18px;
	color: #2c2c2c;
	background: url("../img/bg.jpg") repeat;
}

#page {
	max-width: 1494px;
	margin: 50px auto 50px;
	background: #fff;
}

h1{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px lightgrey;
	margin-bottom: 50px;
}
/*******************TOP-MENU************************/

#top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   	text-transform: uppercase;
	font-size: 20px;
}

#top-menu li {
    float: left;
	padding: 0 20px;
}

#top-menu a {
    display: inline-block;
    text-align: center;
	color: #2c2c2c;
    padding: 20px 0;
    text-decoration: none;
	border-top: 3px solid transparent;
}

#top-menu a:hover {
	border-top: 3px solid #8fc860;
}

#top-menu a.active {
	border-top: 3px solid #8fc860;
}

/******************HEADER************************/
#logo img{
	float: left;
	max-width: 100%;
	height: auto;
}

/*********************LANGUAGES*****************/
#lang ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-transform: uppercase;
	float: right;
}

#lang a{
	text-decoration: none;
	color: #2c2c2c;
}

#lang a.active{
	color: #ff6b4a;
}

#lang li{
	border-left: 2px solid;
	float: left;
	padding: 0 5px;
}
#lang li:first-child{
	border-left: none;
}
/*****************************************/
aside {background-color: #8fc860;}

#footer {
	background-color: #ff6b4a;
	color: #fff;
	padding: 20px;
}

/**************************PRODUCT LIST****************/
a.button-price{
	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
}
.button-price {
	background-color: #8fc860;
	color: #FFFFFF;
	padding: 10px 25px;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
	font-size: 18px;
}

.button-price:hover{
	background-color: #6dab3b;
}

.item-wrapper{
	width: 100%;
	border-bottom: 1px solid #ddd;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.item-upper-wrapper{
	width: auto;
	padding: 24px 20px;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	box-sizing: border-box;
}

.item-upper-wrapper:hover{
	background-color: rgba(143, 200, 96, 0.2);
}

.item-description-wrapper{
	width: 60%;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	overflow: hidden;
}

.item-img{
	width: 200px;
	height: auto;
	float: left;
}

.item-description{
	color: grey;
	font-size: 16px;
}

.item-btn-wrapper{
	position: relative;
	overflow: hidden;
}

.item-options-wrapper{
	display: none;
	background-color: #FFFFFF;
	width: auto;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	color: grey;
	font-size: 16px;
	box-sizing: border-box;
}

.item-options{
	padding: 20px;
}
/*
.item-options::before{
	bottom: 170px;
	left: 50%;
	border: solid transparent;
	content: " ";
	position: absolute;
	pointer-events: none;
	border-color: hsla(0,0%,100%,0);
	border-bottom-color: #fff;
	border-width: 30px;
	margin-left: -20px;
	height: 150px;
	width: 0;
}
*/
.options-icon{
	float: right;
	cursor: pointer;
	display: block;
}

.options-footer {
	padding: 15px 20px;
	background-color: rgba(242, 248, 236, 0.3);
	position: relative;
	width: auto;
	box-sizing: border-box;
}

.item-quantity{
	/*float: left;*/
}
.options-footer .quantity{
	padding: 5px 10px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	background-color: #FFFFFF;
	width: 10px;
}

.item-quantity span{
	display: inline-block;
	padding: 0 5px;
}
.item-total{
	position: relative;
}
input.button-price{
	//float: right;
}

/*******************************CLIENTFORM*************/
fieldset{
	display: inline-block;
}

/***********************ORDER******************/
#message-confirm, #message-cancel {
	display: none;
}

/*********************SLIDER*********************/
#slider-info {
	float: left;
	width: 30%;
}

#contact-info {
	text-align: center;
	padding: 30px 20px;
}

#contact-info .fa {
	width: 22px;
	height: 22px;
	border: 1px solid #000;
	border-radius: 50%;
	text-align: center;
	line-height: 24px;
}

#slider-info-2{
	background-color: #ff6b4a;
	position: absolute;
	bottom: 0;
	color: white;
	width: 30%;
	text-align: center;
	font-size: 22px;
}

#slider-info-2::before {
	content: '';
	border: 13px solid transparent;
	border-bottom-color: #d94c2d;
	border-left-color: #d94c2d;
	position: absolute;
	bottom: 100%;
	right: 0;
	z-index: 10;
}

#slider-info-titel{
	text-transform: uppercase;
}

#slider-img {
	float: right;
	width: 70%;
}

#slider-img img {
	width: 100%;
	height: auto;
}


#loggedin{
	/*display: none;*/
}